<h1>login</h1>

<%= form_for(:session, url: login_path) do |f| %>

<p>Email</p>
<%= f.email_field :email, placeholder: 'Email' %>

<p>Password</p>
<%= f.password_field :password, placeholder: 'Password' %>


<p><%= f.submit "Log in", class:'button' %></p>
<% end %>