<h1>new page</h1>

<%= form_tag('/blogs/complete', method: :post) do %> <!-- submitしたらpostでとばすよ -->

    <p>Title</p>
    <input type="text" name="title" placeholder="Title"> <!-- タイトル入力 -->

    <p>Image URL</p>
    <input type="text" name="image" placeholder="Image Url"> <!-- 画像URL -->
    
    <p>Contents</p>
    <textarea type="text" name="content" placeholder="Write here" rows="10" cols="50"></textarea> <!-- 本文 -->
    
    <input type="submit" value="Post"> <!-- 投稿ボタン -->
    
  <% end %>